.out{
    width: 200px;
    height:30px;
    background-color: green($color: #000000);
    margin : 100px auto;
    border:1px solid red;
    border-radius: 10px;
    overflow: hidden;    
    &:hover .in{
        width:100%; 
        transform: scaleY(1);
    }
}

.in{
    height:100%;
    width:3px;
    background-color: blue;;    
    //border:1px solid blue;
    transform: scaleY(0);
    //transition: transform 0.3s;
    transition: transform 0.3s, width 0.4s ease-in 0.35s;
}