.section-stories
{
    //border: 0.2rem solid white;
    margin : 0 auto;
    background-image: linear-gradient(to right bottom, rgb(226, 248, 185),rgb(183, 250, 58) );    
    padding : 15rem 15rem; // The inner content shall begin from here - so far no height has been given to anything.
    border: 5px solid red;

    &-card{
        height:50rem;
        background-image: linear-gradient(
                                         63deg,
                                         rgba(255,255,255,0.5) 0%,
                                         rgba(255,255,255,0.5) 50%,
                                         rgba(255,255,255,0) 50%,
                                         rgba(125,125,125,0) 100%
                                         ), 
                                         url(../images/3.jpg);                                   
        //background-image: url(../images/3.jpg);
        background-size: cover;  
    }
}

.form{
    width : 55%;
    padding : 10rem;
    font-size: 2rem;
    font-family: sans-serif;
    letter-spacing: 0.1rem;
    word-spacing: 1rem;

    &__group{
        margin : 2rem;
    }

    &__input{
        font-size: 1.5rem;
        font-family: sans-serif;
        color : darkgrey;
        padding: 1.5rem 2rem;
        border-radius: 0.2rem;
        background-color: rgba(255,255,255,0.7);
        border:none;
        border-bottom: 0.3rem solid rgba(69,133,252,0);
        display : block;
    }

    &__label{
        display:block;
        margin-top: 1rem;;

    }
}


