*,
*::after,
*::before{
    margin:0;
    padding:0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body{
    box-sizing: border-box;
    font-size: 1.8rem;  
    /*padding : 2rem;*/
    background-color: beige;
    font-family: 'Poppins', sans-serif;
}


nav{
      display:flex;
      justify-content: space-around; 
      align-items: center;
      min-height:8vh ;
      background-color: #5d4954;
}

.logo{
    color:rgb(207, 204, 204);
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-size: 2rem;;
}

.nav-links{
    display: flex;
    justify-content: space-around;
    width:40%;    
}

.nav-links li{
    list-style: none;
}

.nav-links a{
    text-decoration: none;
    color:rgb(207, 204, 204);
    letter-spacing: 0.1rem;
    font-weight: 600;
    font-size: 1.7rem;
}

.burger {
    display: none;
}
.burger div{
    width: 2.5rem;
    height:0.3rem;
    background-color: white;
    margin: 0.5rem;
    transition: all .5s;
}


@media screen and (max-width:1100px){
    .nav-links{
        width: 60%;
    }
}

@media screen and (max-width:768px)
{
    body{
        overflow-x: hidden;
    }

    .nav-links{
        position: absolute;
        right:0px;
        top :8vh; 
        height: 92vh;        
        background-color: #5d4954;

        display: flex;
        flex-direction: column;
        align-items: center;
        width : 40%;
        transform: translateX(100%);
        transition: all 0.5s ease-in;        
    }

    .nav-links li{
        opacity: 0;
    }
    .nav-links li:nth-child(1){        
        transform: translateX(100px);
        transition: all 1s ;
    }
    .nav-links li:nth-child(2){
        transform: translateX(130px);
        transition: all 1.3s ;
    }
    .nav-links li:nth-child(3){
        transform: translateX(160px);
        transition: all 1.6s ;
    }
    .nav-links li:nth-child(4){
        transform: translateX(190px);
        transition: all 1.9s ;
    }

    .burger{
        display: block;
        cursor: pointer;
    }
    
}

/* When user clicks on the Hamburger */
/*Show tha nav bar on the right*/
.nav-active{
    transform: translateX(0%);
}

/*Show the links with a slight delay*/
.nav-links li.animateli{
    opacity: 1;
    transform: translateX(0px);    
}

/*change the burger icon*/
.ahide{
    transform: translateY(5px) rotate(45deg);
}
.bhide{
    display:none;
}
.chide{
    transform: translateY(-4px) rotate(-45deg);
}