*,
*::after,
*::before {
  border: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }

body {
  font-style: sans-serif;
  font-size: 1.6rem; }

.container {
  padding: 5rem;
  margin: 7rem;
  display: flex;
  justify-content: space-around;
  background-color: bisque; }
  .container__photo {
    width: 40rem;
    height: 40rem;
    border-radius: 300px;
    box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.2); }
